.vs
.vscode
.idea
VC-files/old binaries
VC-files/DebugInter
VC-Files/Debug
VC-Files/Release

VC-files/.vs
VC-files/build
VC-files/cmake-build-debug
VC-files/cmake-build-release
bin/client/debug/*
!bin/client/debug/README.md
bin/client/release/*
!bin/client/release/README.md
bin/host/debug/*
!bin/host/debug/README.md
bin/host/release/*
!bin/host/release/README.md# CMake & build artifacts
cmake-build-*/
.cmake/
build/
bin/
CMakeCache.txt
CMakeFiles/
*.dir/
*.tlog/
*.log
test/*